ntds_info.pdf

*~
.DS_Store

*.aux
*.fls
*.toc
*.out
*.lot
*.log
*.lof
*.blg
*.bbl
*.aux
*.dvi
*.synctex.gz
*.fdb_latexmk
*.bcf
*.nav
*.run.xml
*.snm

*.cfg
*.glo
*.idx
*.ilg
*.ind
*.gls
*.cut
*.hd
*.thm
*.rpi
